* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

main {
    width: 800px;
    background-color: #dadada;
    margin: 0 auto;
    border: #bababa 1px solid;
    border-radius: 5px;
    padding: 20px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.item-formulario input,
.item-formulario textarea,
.item-formulario select {
    border: 1px gray solid;
    border-radius: 5px;
    min-height: 25px;
    margin: ;
}

label {
    font-weight: 700px;
    font-style: italic;
}

code {
    background-color: black;
    color: #fff;
    padding: 15px;
    width: 300px;
    margin: 0 auto;
}

button {
    height: 40px;
    background-color: #3a3ab8;
    color: #fff;
    border: #000 1px solid;
    border-radius: 5px;

}